<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Welcome</div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error placeat beatae facere aut consequatur reprehenderit earum unde ea eos adipisci natus molestias dolorem pariatur, consequuntur cupiditate possimus dolore fugiat quibusdam quisquam officia.
                </p>
            </div>
        </div>
    </div>
</template>